@charset "UTF-8";

footer{
    flex-flow: row nowrap;
    display: flex;
    width: 100%;
    background-color: goldenrod;
    padding: 10px;
    align-items: center;
}

.copyright{
    flex: 0 1 auto;
    flex-direction: row nowrap;
    display: flex;
    padding-left: 10px;
}

.links{
    flex: 1;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
}

.copyright > img {
   flex: 0 3 auto;
   max-height: 30px;
   max-width: 30px;
   margin-right: 10px;
}
.copyright > p {
    flex: 1;
}

.links > a {
    flex: initial;
    padding: 0 10px;
    text-decoration: none;
    color: black;
}

.links > a:hover{
    color: rgb(30, 126, 86);
}
