@charset "UTF-8";

/* INDEX.html */

.container__content_1{
    flex: 0 1 auto;
    background-color: whitesmoke;
    flex-flow: row nowrap;
    display: flex;
}

.container__content_2{
    flex: 0 1 auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container__content_2 > a{
    text-decoration: none;
    border-radius: 25px;
    padding: 5px;
    width: 50%;
    text-align: center;
    background-color: goldenrod;
    color: white;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.container__content_2 > a:hover{
    background-color: rgb(30, 126, 86);
}

.container__content_3{
    flex: 0 1 auto;
}


#hobbies, #friends{
    padding: 10px;
    margin: 10px;
}

#hobbies > h2, #friends > h2 {
    margin: 10px;
    font-variant: small-caps;
    font-size: 2em;
}

#hobbies > p, #friends > p {
    margin-bottom: 20px;
}