@charset "UTF-8";

/* LISTINGS.html */

.container__splitAside{
    flex-direction: row;
    display: flex;
    margin-top: 5px;
}

.container__splitAside_left{
    flex: 0 1 auto;
    background-color: white;
}
.container__splitAside_right{
    flex: 1;
    padding: 0 20px;
    background-color: white;
}
.container__content_1 {
    flex-direction: row, nowrap;
    display: flex;
    justify-content: space-around;
}
.container__content_1 > div {
    text-align: center;
}

.container__content_1 > div > article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container__content_1 > div > article > div {
    flex: 0 1 auto;
    padding: 20px;
    text-align: center;
}

.container__content_1 > div > h2{
    padding: 20px;
    font-size: 1.7em;
    margin-top: 20px;
    margin-left: 10px;
    color: goldenrod;
    font-variant: small-caps;
}

.container__content_1 > div > article{
    margin-bottom: 20px;
}
#events-DIY,
#events-FOOD {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 10px;
    border-radius: 2px;
}

#events-DIY > div > h3,
#events-FOOD > div > h3  {
    padding-bottom: 10px;
}

#events-DIY > div > h3 > a,
#events-FOOD > div > h3 > a {
    color: black;
}

#events-DIY > div > h3 > a:hover,
#events-FOOD > div > h3 > a:hover {
    color: rgb(30, 126, 86);
}