@charset "UTF-8";

/* RSVPed.html */

#headers{
    display: flex;
}
#headers > h3{
    flex: 1;
    margin: 10px 0;
    border-bottom: 1px solid black;
}
.container__content_1{
    margin-top: 5px;
    background-color: white;
    flex-direction: column;
    display: flex;
}

.container__content_1 > section{
    flex-direction: row nowrap;
    display: flex;
    flex: 1;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
}

.container__content_1 > section > div{
    display: flex;
    flex: 1;
    border-right: 1px solid black;
}
.container__content_1 > section > div > a {
    flex: 1;
}
.container__content_1 > section > div > a:hover{
    color: rgb(30, 126, 86); 
}
.container__content_1 > section > p{
    flex: 1;
    border-right: 1px solid black;
}
