@charset "UTF-8";

html, body, footer, header, nav, section, article, aside, h1, h2, h3, div, p, ul, li {
    margin: 0;
    padding: 0;
    font-size: 15px;
    
}

html{
    height: 100%;
}

body {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1650px;
    min-width: 768px;
    margin: 0 auto;
    background-color: #2a2a2a;
    font-family: arial, sans-serif;
    min-height: 100%;
}

* {
    box-sizing: border-box;
}