@charset "UTF-8";

.rsvp__navigation {
    width: 300px;
    box-shadow: 2px 0px 0px goldenrod;
    background-color: white; 
    text-align: center;
    padding: 20px 10px;
    margin-right: 10px;
}

.rsvp__navigation > button {
    margin: 20px 0;
    font-size: 1em;
    border-radius: 8px;
    padding: 5px 10px;
    background-color: goldenrod;
}

.rsvp__navigation > button:hover{
    background-color: rgb(30, 126, 86);
    cursor: pointer;
    color: white;
}

.rsvp__navigation > ul > li{
    margin: 20px 0px;
    list-style: none;
}

.rsvp__navigation > ul > li > a {
    text-decoration: none;
    color: rgb(116, 35, 116);
}

.rsvp__navigation > ul > li > a:hover{
    color: rgb(30, 126, 86);
}

