<footer>
    <div class="copyright">
        <img alt="copyright" src='../assets/images/copyright.png'><p> Learn & Brew 2020 </p>
    </div>
    <div class='links'>
        <a href='./about.ejs'> About </a>
        <a href='./contact.ejs'> Contact </a>
        <a href='./listings.html'> Events </a>
        <a href='./RSVPed.html'> RSVPed </a>
    </div>  
</footer>