<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <title>Learn&Chill</title>
        <link rel='stylesheet' type='text/css' href='../../stylesheets/main/main.css'>
        <link rel='stylesheet' type='text/css' href='../../stylesheets/pages/_listings.css'>
        <script src='../../stylesheets/scripts/styleScript.js' defer></script>
    </head>
    
    <body>
        <header class='banner'>
            <div class='banner__logo'>
                <div class='banner__logo-image'>
                    <img alt="logo" src='../assets/images/logo.png'>
                </div>
                <h1 class='banner__companyName'> Learn & Chill </h1>
            </div>
            <ul class='banner__userNavigation'>
                <li><a href='./listings.html'> Find whats happening </a></li>
                <li><a href='./RSVPed.html'> RSVPed </a></li>
                <li><a href='./RSVPed.html'> Login </a></li>
                <li><a href='./RSVPed.html'> Sign Up </a></li>
            </ul>
        </header>

        <section class='container'>
            <div class='container__splitAside'>
                <div class='container__splitAside_left'>
                    <nav class='rsvp__navigation'> <!-- turn into sidebar-->
                        <button onclick="window.location.href = './RSVPed.html'"> RSVPed </button>
                        <ul>
                            <li><a href='./listingDetails.html'> Glass Bottle Pendant Lamps </a>
                               <h3> Feb 4 </h3>
                            </li>
                            <li><a href='./listingDetails.html'> Backyard Brewing with Tim </a>
                               <h3> Feb 12 </h3>
                            </li>
                            <li><a href='./listingDetails.html'> Home Remodeling - Bathroom Tile </a>
                               <h3> Feb 27 </h3>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class='container__splitAside_right'>
                    <div class='container__content_1'>
                        <div>
                            <h2>Do it yourself</h2>
                            <article id='events-DIY'>
                                <div>
                                    <h3><a href="./listingDetails.html">Glass Bottle Pendant Lamps</a></h3>
                                    <p>Feb 4</p>
                                </div>
                                <div>
                                    <h3><a href="./listingDetails.html">Home Remodeling - Bathroom Tile</a></h3>
                                    <p>Feb 27</p>
                                </div>
                                <div>
                                    <h3><a href="./listingDetails.html">Home Remodeling - Outdoor Patio</a></h3>
                                    <p>Feb 7</p>
                                </div>
                                 <div>
                                    <h3><a href="./listingDetails.html">Home Remodeling - Bathroom Tile</a></h3>
                                    <p>Feb 27</p>
                                </div>
                                <div>
                                    <h3><a href="./listingDetails.html">Home Remodeling - Outdoor Patio</a></h3>
                                    <p>Feb 7</p>
                                </div>
                            </article>
                            <h2>Foodies</h2>
                            <article id='events-FOOD'>
                                <div>
                                    <h3><a href="./listingDetails.html">Meat and Cheese Party Plates</a></h3>
                                    <p>Feb 7</p>
                                </div>
                                <div>
                                    <h3><a href="./listingDetails.html">Homemade Blackberry Wine</a></h3>
                                    <p>Feb 11</p>
                                </div>
                                <div>
                                    <h3><a href="./listingDetails.html">Backyard Brewing with Tim </a></h3>
                                    <p>Feb 12</p>
                                </div>
                            </article> 
                        </div>
                    </div>
                    <div class='container__content_2'></div>
                    <div class='container__content_3'></div>
                </div>
            </div>
        </section>

        <footer>
            <div class="copyright">
                <img alt="copyright" src='../assets/images/copyright.png'><p> Learn & Brew 2020 </p>
            </div>
            <div class='links'>
                <a href='./index.html'> About </a>
                <a href='./listings.html'> Events </a>
                <a href='./RSVPed.html'> RSVPed </a>
            </div>  
        </footer>
    </body>
</html>