<header class='banner'>
    <div class='banner__logo'>
        <div class='banner__logo-image'>
            <img alt="logo" src='../assets/images/logo.png'>
        </div>
        <h1 class='banner__companyName'> Learn & Chill </h1>
    </div>
    <ul class='banner__userNavigation'>
        <li><a href='./listings.html'> Find whats happening </a></li>
        <li><a href='./RSVPed.html'> RSVPed </a></li>
        <li><a href='./RSVPed.html'> Login </a></li>
        <li><a href='./RSVPed.html'> Sign Up </a></li>
    </ul>
</header>