<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <title>Learn&Chill</title>
        <link rel='stylesheet' type='text/css' href='../../stylesheets/main/main.css'>
        <link rel='stylesheet' type='text/css' href='../../stylesheets/pages/_RSVPed.css'>
        <script src='../../stylesheets/scripts/styleScript.js' defer></script>
    </head>
    
    <body>
        <header class='banner'>
            <div class='banner__logo'>
                <div class='banner__logo-image'>
                    <img alt="logo" src='../assets/images/logo.png'>
                </div>
                <h1 class='banner__companyName'> Learn & Chill </h1>
            </div>
            <ul class='banner__userNavigation'>
                <li><a href='./listings.html'> Find whats happening </a></li>
                <li><a href='./RSVPed.html'> RSVPed </a></li>
                <li><a href='./RSVPed.html'> Login </a></li>
                <li><a href='./RSVPed.html'> Sign Up </a></li>
            </ul>
        </header>

        <section class='container'>
            <div class='container__content_1'>
                        <section id='headers'>
                            <h3>Event</h3>
                            <h3>Date</h3>
                            <h3>Category</h3>
                            <h3></h3>
                        </section>
                        <section>
                            <p>Glass Bottle Pendant Lamps</p>
                            <p>Feb 4</p>
                            <p>crafting</p>
                            <div>
                                <a href="./listings.html">Update</a>
                                <a href="./RSVPed.html">Delete</a>
                            </div>
                        </section>
                        <section>
                            <p>Backyard Brewing with Tim</p>
                            <p>Feb 12</p>
                            <p>food</p>
                            <div>
                                <a href="./listings.html">Update</a>
                                <a href="./RSVPed.html">Delete</a>
                            </div>
                        </section>
                        <section>
                            <p>Home Remodeling - Bathroom Tile</p>
                            <p>Feb 27</p>
                            <p>DIY</p>
                            <div>
                                <a href="./listings.html">Update</a>
                                <a href="./RSVPed.html">Delete</a>
                            </div>
                        </section>
            </div>
            <div class='container__content_2'></div>
            <div class='container__content_3'></div>
        </section>

        <footer>
            <div class="copyright">
                <img alt="copyright" src='../assets/images/copyright.png'><p> Learn & Brew 2020 </p>
            </div>
            <div class='links'>
                <a href='./index.html'> About </a>
                <a href='./listings.html'> Events </a>
                <a href='./RSVPed.html'> RSVPed </a>
            </div>  
        </footer>
    </body>
</html>