<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name="viewport" content="width=device-width, maximum-scale=1.0">
        <title>Learn&Chill</title>
        <link rel='stylesheet' type='text/css' href='/stylesheets/main/main.css'>
        <link rel='stylesheet' type='text/css' href='/stylesheets/pages/_RSVPed.css'>
        <script src='/stylesheets/scripts/styleScript.js' defer></script>
    </head>
    
    <body>
        <%- include('./partials/navigation.ejs') %>

        <section class='container'>
            <h3>Sign-up</h3>
            <div class='container__content_1'>
                    <form method='POST' action='/public/signup'> 
                        <label for='username'>Username:</label>
                        <input type='text' name='username'>
                        <label for='alias'>Alias</label>
                        <input type='text' name='alias'>
                        <label for='password'>Password:</label>
                        <input type='text' name='password'>
                        
                        <button type='submit'>Signup</button>
                    </form>
            </div>
            <div>
                <% if (message) { %>
                    <br>
                    <h3><%= message %></h3>
                <% } %>
            </div>
        </section>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>