<footer>
    <div class="copyright">
        <img alt="copyright" src='/images/copyright.png'><p> Learn & Brew 2020 </p>
    </div>
    <div class='links'>
        <a href='/public/about'> About </a>
        <a href='/public/contact'> Contact </a>
        <a href='/public/listings'> Events </a>
        <a href='/auth/RSVPed'> RSVPed </a>
    </div>  
</footer>