<footer>
    <div class='container-fluid'>
        <div class='row navbar-dark bg-dark'>
            <div class='col-md-2 d-flex flex-row align-items-center' id='footer-logo'>
                <img class='ml-1 ' id='logo' width=15px height=15px alt="copyright" src='/images/copyright.png'>
                <p class='ml-1 mt-3 ' > Learn & Brew 2020 </p>
            </div>
            <div class='navbar navbar-expand-sm navbar-dark bg-dark col-md-10 justify-content-center border'>
                <ul class='navbar-nav ml-auto'>
                    <li class='nav-item'>
                        <a class='nav-link' href='/public/about'> About </a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='/public/listings'> Events </a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='/auth/RSVPed'> RSVPed </a>
                    </li>
                </ul> 
            </div>
        </div>
    </div>
    
     
</footer>