<header class='banner'>
    <div class='banner__logo'>
        <div class='banner__logo-image'>
            <img alt="logo" src='/images/logo.png'>
        </div>
        <h1 class='banner__companyName'> Learn & Chill </h1>
    </div>
    <ul class='banner__userNavigation'>
        <li><a href='/public/listings'> Find whats happening </a></li>
        <li><a href='/auth/RSVPed'> RSVPed </a></li>
        <li><a href='/auth/createEvent'> Create Event </a></li>
        
        <% if(!user){ %>
            <li><a href='/public/login'> Login </a></li>
            <li><a href='/public/signup'> Sign-up </a></li>
        <% } else { %>
            <li><a href='/public/logout'> Logout </a></li>
        <% } %>
        
    </ul>
</header>