<header>
    <nav class='navbar navbar-expand-md navbar-dark bg-dark'>
        <img class='navbar-brand' alt="logo" src='/images/logo.png' width=60px>
        <h3>Learn & Chill</h3>
        <button class='navbar-toggler' data-toggle='collapse' data-target='#navbarMenu'>
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarMenu'>
            <ul class='navbar-nav ml-auto'>
                <li class='nav-item'>
                    <a class='nav-link' href='/public/listings' > Events </a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/auth/RSVPed'> RSVPed </a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/auth/createEvent'> Create Event </a>
                </li>
                <% if(!user){ %>
                <li class='nav-item'>
                    <a class='nav-link' href='/public/login'> Login </a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/public/signup'> Sign-up </a>
                </li>
                <% } else { %>
                <li class='nav-item'>
                    <a class='nav-link' href='/public/logout'> Logout </a>
                </li>
                <% } %>
            </ul>
        </div>
    </nav>
</header>