<section class='container'>
    <div class='container__content_1'>
            <form>
                <label for='topic'>Topic</label>
                <input type='text' name='topic'>
                <label for='user'>Name</label>
                <input type='text' name='user'>
                <label for='details'>Details</label>
                <textarea name='details'></textarea>
                <label for='where'>Where</label>
                <input type='text' name='where'>
                <label for='when'>When</label>
                <input type='text' name='when'>
                <button type='submit'>create Event</button>
            </form>
    </div>
</section>